<!DOCTYPE html>
<html>
  <head>
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="flex-container">
      <header class="flex-header"><h1>Header</h1></header>
      <main class="flex-main">
        <nav class="flex-nav-left"><h1>Sidebar left</h1></nav>
        <article class="flex-artical"><h1>Article</h1></article>
        <nav class="flex-nav-right"><h1>Sidebar right</h1></nav>
      </main>
      <footer class="flex-footer"><h1>Footer</h1></footer>
    </div>
  </body>
</html>
