<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./image-gallary.css" />
    </head>
    <body>
        <div class="container">
            <div class="img1">
                <img src="https://image.shutterstock.com/image-photo/white-transparent-leaf-on-mirror-260nw-1029171697.jpg" alt="img1" />
            </div>
            <div class="img2">
                <img src="https://image.shutterstock.com/image-photo/white-transparent-leaf-on-mirror-260nw-1029171697.jpg" alt="img1" />
            </div>
            <div class="img3">
                <img src="https://image.shutterstock.com/image-photo/white-transparent-leaf-on-mirror-260nw-1029171697.jpg" alt="img1" />
            </div>
            <div class="img4">
                <img src="https://image.shutterstock.com/image-photo/white-transparent-leaf-on-mirror-260nw-1029171697.jpg" alt="img1" />
            </div>
            <div class="img5">
                <img src="https://image.shutterstock.com/image-photo/white-transparent-leaf-on-mirror-260nw-1029171697.jpg" alt="img1" />
            </div>
            <div class="img6">
                <img src="https://image.shutterstock.com/image-photo/white-transparent-leaf-on-mirror-260nw-1029171697.jpg" alt="img1" />
            </div>
        </div>
    </body>
</html>